@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to the Metric System Converter!</h1>
    <p class="lead">Use the navigation menu to convert Fahrenheit to Celsius and learn more about the app.</p>
    <img src="~/images/background.jpg" class="img-fluid rounded" alt="Metric System Background" style="max-width: 400px;">
</div>
